body {
    padding-top: 50px;
    background-color: #ffffff;

}

.navbar{
    box-shadow: 1px 10px 10px #000000;
    padding: 10px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}


.row{
    padding: 5px;
    display: flex;

}


.col-lg-4{
    text-align: center;
    padding: 5px;

    border-bottom:  1px solid #c1c1c1;
    /*box-sizing: border-box;*/
    background-color: #e0e0e0;
    height:auto;

}

.border-left{
    border-left:  1px groove #eaeaea;

}

.middle-content{

    border-left:  1px solid #c1c1c1;
    border-right: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;

}

.other-content{

    border-bottom: 1px solid #c1c1c1;

}


.img-circle{
    margin: -25% auto 0;
    background-color: #2b542c;
    padding-top: 15%;
    color: #ffffff;

}


h4{


    margin: 30px auto;
}

.circle
{


    border-radius: 50%;
    background-color: #4a6788;

    width: 200px;
    height: 200px;


}
.quote1{

    padding: 25px 0;
    text-align: center;
    margin-bottom: 25px;
    background-color: #e0e0e0;


}.quote2 {

    padding: 25px 0;
    text-align: center;
    margin-bottom: 0px;
    background-color: #ffffff;


}

.quote1 h1, .quote2 h1 {

    color: #204d74;

}

#quote2 h2, #quote2 h2{
    color: #c1c1c1;
}

.show-pix{
    height: 500px;
    background-size: 100% auto;
    padding-top: 10%;

    background-color: rgba(0, 0, 255, 0.2);
}

.pix {
    height: auto;
    overflow: hidden;

}

div #pix-travel{

    height: 250px;

}

section{
    width: 100%;
    height: 100%;
}

.follow{

    background-color: #e2e2e2;
    text-align: center;
    padding-bottom: 50px;
}



.content{

    /*position: relative;*/
    /*border: 1px solid #c1c1c1;*/
    box-sizing: border-box;
    padding: 10px 10px;
    background-color: #e0e0e0;
}

.icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 25px;
    margin-right: 5px;
}

.icon-store{
    height: 70px;
    width: auto;
    margin-top: 25px;
    margin-right: 5px;
}

.circle-content{

    padding-top: 5% ;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.4);
    color: #ffffff;

}


/*642 width*/

@media only screen and (max-width: 642px) {

    .circle{
        display:none
    }

    .circle-content{
        background-color: transparent;
    }

    .show-pix{
        height: 280px;
    }

    #pix-family{
        height: 121px;
    }

    h3{
        display: block !important;
    }
    #price-button{

        display: block !important;

    }

    #checkin-checkout{

        position: relative !important;
        z-index: -1 !important;
        margin: 50px 0 !important;

    }

    #main-container{
        margin-top: 0 !important;
    }




}

/*max 490px*/
@media only screen and (max-width: 490px) {


    .content{
        display: block !important;
    }

}